<header>
    <div class="navbar">
     

         <div class="logo">
            <h2 style="font-family: cursive;margin-left: -10%;">ShopMate</h2>
        </div> 

        <!-- Navigation Links -->
        <nav>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/cart">Your Cart</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a routerLink="/about">About</a></li>
            </ul>
        </nav>

        <!-- Search Bar -->
        <div class="search-container">
            <input type="text" placeholder="Search for products...">
            <button>🔍</button>
        </div>

        <!-- Cart Button -->
        <!-- <div class="cart">
            <button class="cart-btn">🛒 Cart ({{ cartItemCount }})</button>
        </div> -->
    </div>
</header>
